@import "tailwindcss";

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background:
    repeating-linear-gradient(120deg, #6c2bbd33 0px, #6c2bbd33 60px, transparent 60px, transparent 120px),
    repeating-linear-gradient(60deg, #008c8c33 0px, #008c8c33 60px, transparent 60px, transparent 120px),
    repeating-linear-gradient(0deg, #b36a0033 0px, #b36a0033 60px, transparent 60px, transparent 120px),
    radial-gradient(circle at 20% 30%, #003434 0%, transparent 60%),
    radial-gradient(circle at 80% 70%, #160927 0%, transparent 60%),
    radial-gradient(circle at 50% 50%, #311d01 0%, transparent 70%);
  background-size: 120px 120px, 120px 120px, 120px 120px, cover, cover, cover;
  background-blend-mode: lighten, lighten, lighten, screen, screen, screen;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background:
    repeating-linear-gradient(120deg, #6c2bbd33 0px, #6c2bbd33 60px, transparent 60px, transparent 120px),
    repeating-linear-gradient(60deg, #008c8c33 0px, #008c8c33 60px, transparent 60px, transparent 120px),
    repeating-linear-gradient(0deg, #b36a0033 0px, #b36a0033 60px, transparent 60px, transparent 120px),
    radial-gradient(circle at 20% 30%, #008c8c 0%, transparent 60%),
    radial-gradient(circle at 80% 70%, #6c2bbd 0%, transparent 60%),
    radial-gradient(circle at 50% 50%, #b36a00 0%, transparent 70%);
  background-size: 120px 120px, 120px 120px, 120px 120px, cover, cover, cover;
  background-blend-mode: lighten, lighten, lighten, screen, screen, screen;
}